﻿@model odev3.Models.Movies_tbl
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="dashboard-wrapper">
        <div class="main-container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                        </div>
                        <div class="widget-body">
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="thumbnail">
                                        <img style="width: 300px; height: 430px;" src=@Model.MoviePoster>
                                        <div class="caption">
                                            <h3>@Model.MovieName</h3>
                                            <p>
                                                Are you sure that you want to delete this movie ??
                                            </p>
                                            <p>
                                                @Html.ActionLink("Delete", "DeleteConfirmed", "Movies", new { id = Model.MovieID }, new { @class = "btn btn-info" })
                                                @Html.ActionLink("Back To List","Index","Movies", new { @class = "btn" })
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

