﻿@model List<odev3.Models.Movies_tbl>
    @using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
  <!-->
<html lang="en">
<!--
<![endif]-->


<body>
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="main-container">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget no-margin">
                            <div class="widget-body">
                                
                                <div id="dt_example" class="example_alt_pagination">
                                    
                                    <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                        
                                        <thead>
                                            <tr>
                                                <th style="width:20%">Movie Name</th>
                                                <th style="width:35%">Movie Genre</th>
                                                <th style="width:15%" class="hidden-phone">Release Date</th>
                                                <th style="width:15%" class="hidden-phone">Rating</th>
                                                <th style="width:15%" class="hidden-phone">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr class="gradeX">
                                                <td>@item.MovieName</td>
                                                <td>@item.MovieGenre</td>
                                                <td class="hidden-phone">
                                                @{var month = item.ReleaseDate.ToString("MMMM", CultureInfo.InvariantCulture);}
                                                @item.ReleaseDate.Day @month @item.ReleaseDate.Year</td>
                                                <td class="hidden-phone">@item.Rating</td>
                                                <td class="hidden-phone">
                                                    @Html.ActionLink("Edit","Edit","Movies", new { id = item.MovieID }, new {@class= "btn btn-success btn-small hidden-phone"})
                                                    @Html.ActionLink("Delete", "Delete", "Movies" , new { id = item.MovieID }, new { @class = "btn btn-small btn-primary hidden-tablet hidden-phone" })
                                                    <div id="accSettings1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <h4 id="myModalLabel1">
                                                                Edit client details
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row-fluid">
                                                                <div class="span4">
                                                                    <input type="text" class="span12" placeholder="Frist name">
                                                                </div>
                                                                <div class="span4">
                                                                    <input type="text" class="span12" placeholder="Last name">
                                                                </div>
                                                                <div class="span4">
                                                                    <input type="text" class="span12" placeholder="email">
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span4">
                                                                    <input type="text" class="span12" placeholder="Contact">
                                                                </div>
                                                                <div class="span8">
                                                                    <input type="text" class="span12" placeholder="Address">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn" data-dismiss="modal" aria-hidden="true">
                                                                Close
                                                            </button>
                                                            <button class="btn btn-primary">
                                                                Save changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #addnew{
                    width:150px;
                }
            </style>
            <br />
            @Html.ActionLink("Add New Movie","Add","Movies",new {@class="btn btn-large btn-warning2 btn-block", id="addnew"})
        </div>
        
    </div>
    
</body>
</html>









