﻿@model odev3.Models.News_tbl
@{
    ViewBag.Title = "AddNews";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="dashboard-wrapper">
        <div class="main-container">
            <br>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-body">
                            <p style="color:red;">@Html.ValidationSummary()</p>
                            @using (Html.BeginForm("Add", "News", FormMethod.Post, new { @class = "well" }))
                            {
                                Html.AntiForgeryToken();
                                <label class="control-label" for="u-name">
                                    News Details
                                </label>
                                <div class="control-group">
                                    <div class="controls controls-row">
                                        @Html.TextBoxFor(x => x.NewsHeader, new { @class = "span6", placeholder = "News Header", Required="Required"})
                                        @Html.TextBoxFor(x => x.NewsFirstParagraph, new { @class = "span6 input-left-top-margins", placeholder = "News Purpose" , Required = "Required" })
                                    </div>
                                </div>
                                <div class="control-group info">
                                    <div class="wysiwyg-container">
                                        @Html.TextAreaFor(x=>x.AllOfTheNews,new { id = "wysiwyg", @class="input-block-level no-margin", placeholder="Full News.....", style="height: 140px" , Required = "Required" })
                                    </div>
                                </div><br />
                                <label class="control-label" for="u-name">
                                    News Date
                                </label> @Html.TextBoxFor(x => x.NewsDate, new { @class = "span6 input-left-top-margins", placeholder = "Date ..." , Value=DateTime.Now})

                                <hr />
                                <label class="control-label" for="u-name">
                                    MovieID
                                </label> @Html.TextBoxFor(x => x.MovieID, new { @class = "span6 input-left-top-margins", placeholder = "If it's a News for specific Movie Write MovieID down here else leave it blank" })
                                <div class="control-group info no-margin">
                                    <div class="controls">
                                        <button id="contact-submit" type="submit" class="btn btn-info pull-right">Add To News</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

