﻿@using odev3.Models;
@model odev3.Models.Rating_tbl
@{
    Layout = null;
    var username = User.Identity.Name;
}
@{  Movie_ReviewEntities db = new Movie_ReviewEntities();
    bool rrating = Model.Rating == -1 ? false : true;
}
@{ Rating_tbl abc = new Rating_tbl();}
@if (rrating == true)
{<span id="hich">Your rating:</span>
    var list = db.Rating_tbl.ToList();
    @Html.TextBox(" ", Model.Rating, new { type = "hidden", @class = "rating-tooltip", id = "programmatically-rating", disabled = "disabled" });
}
else
{
    using (Html.BeginForm("About", "Home", FormMethod.Post))
    {
        Html.AntiForgeryToken();
<span id="hich">Your rating:</span>
@Html.TextBoxFor(model => model.MovieID, new { type = "hidden", Value = Model.MovieID })
@Html.TextBoxFor(model => model.Rating, new { type = "hidden", id = "programmatically-rating" })
@Html.TextBoxFor(model => model.UserName, new { type = "hidden", Value = username })

<span>&nbsp;</span> <input type="submit" value="Submit Rating" class="btn btn-primary btn-xs" />
    }
}